<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">List of employees</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-employee">New employee</button>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Document</th>
                        <th>Salary</th>
                        <th>Actions</th>
                      </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees">
                    <td>{{employee.name}}</td>
                    <td>{{employee.lastname}}</td>
                    <td>{{employee.document}}</td>
                    <td>{{employee.salary | currency:'MXN'}}</td>
                    <td>
                        <i class="fa fa-pen-to-square text-info" [routerLink]="['edit-employee', employee.idDocument]" ></i>
                        <i class="fa fa-trash text-warning ms-3" (click)="deleteEmployee(employee.idDocument)"></i>
                      </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>          